.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  cursor: pointer;
}

.disabledImage {
    height: 30vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 110vh;
  min-width: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .item {
  display: contents;
  margin: 15px;
  padding: 30px;
}

.items {
  display: block;
}


.result {
  display: flex;
  flex-direction: column;
}

.resultPage {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bigTextWon {
  font-size: 25px;
  background-color: green;
  border-radius: 10%;
}
.bigTextLost {
  font-size: 25px;
  background-color: red;
  border-radius: 10%;
}
.bigTextDraw {
  font-size: 25px;
  background-color: #FAD02C;
  border-radius: 10%;
}

.scoreBoard {
  /* border: 1px solid white; */
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.content { 
  display: flex;
  flex-direction: column;
}

.score {
  min-width: 25vmin;
  min-height: 25vmin;
  padding: 10px;
  margin: 10px;
  color: black;
  background: linear-gradient(to right, white, #98D9D4)
}

.bigNumber {
  font-size: 12vmin;
}

img {padding: 20px;}